@import './variables.less';

.m_overflow-horizontal {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -1 * 2rem;
    margin-right: -1 * 2rem;
}

.m_no-margin {
    margin: 0 !important;
}

.m_no-focusOutline {
    &:focus {
        outline: none;
    }
}

.m-periodeBkg {
    &--uttak-forelder1 {
        background-color: @c-uttak-mor;
    }
    &--uttak-forelder2 {
        background-color: @c-uttak-far;
    }
    &--utsettelse {
        background-color: @c-utsettelse;
    }
}

.m-periodeBorder {
    &--uttak-forelder1 {
        border-color: @c-uttak-mor;
    }
    &--uttak-forelder2 {
        border-color: @c-uttak-far;
    }
    &--utsettelse {
        border-color: @c-utsettelse;
    }
}
