.skjemaelement {
    margin-bottom: 0;

    .skjemaelement__label {
        font-weight: bold;
    }

    .skjemaelement__label {
        font-weight: bold;
    }

    &--horisontal {
        .skjemaelement__label {
            font-weight: normal;
        }
    }

    &--undersporsmal {
        .skjemaelement__label {
            font-weight: normal;
        }
    }
}

.skjema {
    &__legend {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-right: 2rem;
    }
}

.nav-veilederpanel {
    margin-bottom: 1rem;
}

.alertstripe--noBorder {
    border: none;
}

.nav-veilederpanel--kompakt.nav-veilederpanel--plakat .nav-veileder__frame {
    @media (max-width: @mobile-breakpoint) {
        padding-left: 0;
        padding-right: 0;
    }

    svg {
        height: 100%;
    }
}

.nav-datovelger .DayPicker-Day--erHelligdag {
    color: #b93a25;
}
