@import '../../common/styles/variables.less';
@app-max-width: 704px;
@button-height: 46px;
@c-buttonBlue: #0067c5;
@paddingSmall: 0.5rem;
@paddingLarge: 2rem;
@mobile-breakpoint: 576px;
@modal-max-width: 500px;
@tablet-breakpoint: @screen-tablet;
