{
	"plugins": ["@babel/plugin-proposal-object-rest-spread"],
	"presets": ["@babel/preset-typescript", "@babel/preset-env", "@babel/react"],
	"env": {
		"test": {
			"plugins": [["babel-plugin-webpack-alias", { "config": "./src/build/webpack/webpack.config.global.js" }]]
		}
	}
}
