@import './../../styles/variables.less';

.striped(@color1, @color2) {
    @pos: 7.5px;
    background: repeating-linear-gradient(45deg, @color1, @color1 @pos, @color2 @pos, @color2 @pos + 2.5px);
}

.iconBox {
    width: 2rem;
    height: 2rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &--BLACK {
        background-color: var(--ax-warning-500);
        &--striped {
            .striped(var(--ax-warning-500),var(--ax-warning-500));
        }
    }

    &--BLUEOUTLINE {
        color: var(--ax-accent-600);
    }

    &--GREENOUTLINE {
        color: var(--ax-success-600);
    }

    &--GREEN {
        background-color: var(--ax-success-600);
        &--striped {
            .striped(var(--ax-success-600), var(--ax-success-400));
        }
    }

    &--LIGHTGREEN {
        background-color: var(--ax-success-400);
        &--striped {
            .striped(var(--ax-success-400), var(--ax-success-600));
        }
    }
    &--BLUE {
        background-color: var(--ax-accent-600);
        &--striped {
            .striped(var(--ax-accent-600), var(--ax-accent-300));
        }
    }

    &--LIGHTBLUE {
        background-color: var(--ax-accent-300);
        &--striped {
            .striped(var(--ax-accent-300),var(--ax-accent-600));
        }
    }

    &--LIGHTGREENBLUE {
        background: repeating-linear-gradient(
            -45deg,
            var(--ax-accent-600),
            var(--ax-accent-600) 50%,
            var(--ax-success-400) 50%,
            var(--ax-success-400) 100%
        );
        &--striped {
            background: repeating-linear-gradient(
                -45deg,
                var(--ax-accent-600),
                var(--ax-accent-600) 50%,
                var(--ax-success-400) 50%,
                var(--ax-success-400) 100%
            );
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .striped(transparent, rgba(255, 255, 255, 0.6));
            }
        }
    }

    &--LIGHTBLUEGREEN {
        background: repeating-linear-gradient(
            -45deg,
            var(--ax-success-600),
            var(--ax-success-600) 50%,
            var(--ax-accent-400) 50%,
            var(--ax-accent-400) 100%
        );
        &--striped {
            background: repeating-linear-gradient(
                -45deg,
                var(--ax-success-600),
                var(--ax-success-600) 50%,
                var(--ax-accent-400) 50%,
                var(--ax-accent-400) 100%
            );
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .striped(transparent, rgba(255, 255, 255, 0.6));
            }
        }
    }
}
