@import './../../styles/variables.less';

.striped(@color1, @color2) {
    @pos: 6.2px;
    background: repeating-linear-gradient(-45deg, @color1, @color1 @pos, @color2 @pos, @color2 @pos + 1.5px);
}

.iconBox {
    width: 2rem;
    height: 2rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &--orange {
        background-color: #ffeccc;
        &--striped {
            .striped(#ffeccc, #ffeccc);
        }
    }

    &--green {
        background-color: #33aa5f;
        &--striped {
            .striped(#33aa5f, #99dead);
        }
    }

    &--lightGreen {
        background-color: #99dead;
        &--striped {
            .striped(#99dead, #99dead);
        }
    }
    &--blue {
        background-color: #3386e0;
        &--striped {
            .striped(#3386, #99c4dd);
        }
    }

    &--lightBlue {
        background-color: #99c4dd;
        &--striped {
            .striped(#99c4dd,#99c4dd);
        }
    }

    &--blueLightGreen {
        background: repeating-linear-gradient(-45deg, #3386e0, #3386e0 50%, #99dead 50%, #99dead 100%);
        &--striped {
            background: repeating-linear-gradient(-45deg, #3386e0, #3386e0 50%, #99dead 50%, #99dead 100%);
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .striped(transparent, rgba(255, 255, 255, 0.6));
            }
        }
    }

    &--greenLightBlue {
        background: repeating-linear-gradient(-45deg, #33aa5f, #33aa5f 50%, #99c4dd 50%, #99c4dd 100%);
        &--striped {
            background: repeating-linear-gradient(-45deg, #33aa5f, #33aa5f 50%, #99c4dd 50%, #99c4dd 100%);
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .striped(transparent, rgba(255, 255, 255, 0.6));
            }
        }
    }
}
