@import './../../styles/variables.less';

.striped(@color1, @color2) {
    @pos: 7.5px;
    background: repeating-linear-gradient(45deg, @color1, @color1 @pos, @color2 @pos, @color2 @pos + 2.5px);
}

.iconBox {
    width: 2rem;
    height: 2rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &--BLACK {
        background-color: var(--a-data-surface-3);
        &--striped {
            .striped(var(--a-data-surface-3),var(--a-data-surface-3));
        }
    }

    &--BLUEOUTLINE {
        color: var(--a-data-surface-1);
    }

    &--GREENOUTLINE {
        color: var(--a-data-surface-5);
    }

    &--GREEN {
        background-color: var(--a-data-surface-5);
        &--striped {
            .striped(var(--a-data-surface-5), var(--a-data-surface-5-subtle));
        }
    }

    &--LIGHTGREEN {
        background-color: var(--a-data-surface-5-subtle);
        &--striped {
            .striped(var(--a-data-surface-5-subtle), var(--a-data-surface-5));
        }
    }
    &--BLUE {
        background-color: var(--a-data-surface-1);
        &--striped {
            .striped(var(--a-data-surface-1), var(--a-data-surface-2-subtle));
        }
    }

    &--LIGHTBLUE {
        background-color: var(--a-data-surface-2-subtle);
        &--striped {
            .striped(var(--a-data-surface-2-subtle),var(--a-data-surface-1));
        }
    }

    &--LIGHTGREENBLUE {
        background: repeating-linear-gradient(
            -45deg,
            var(--a-data-surface-1),
            var(--a-data-surface-1) 50%,
            var(--a-data-surface-5-subtle) 50%,
            var(--a-data-surface-5-subtle) 100%
        );
        &--striped {
            background: repeating-linear-gradient(
                -45deg,
                var(--a-data-surface-1),
                var(--a-data-surface-1) 50%,
                var(--a-data-surface-5-subtle) 50%,
                var(--a-data-surface-5-subtle) 100%
            );
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .striped(transparent, rgba(255, 255, 255, 0.6));
            }
        }
    }

    &--LIGHTBLUEGREEN {
        background: repeating-linear-gradient(
            -45deg,
            var(--a-data-surface-5),
            var(--a-data-surface-5) 50%,
            var(--a-data-surface-2-subtle) 50%,
            var(--a-data-surface-2-subtle) 100%
        );
        &--striped {
            background: repeating-linear-gradient(
                -45deg,
                var(--a-data-surface-5),
                var(--a-data-surface-5) 50%,
                var(--a-data-surface-2-subtle) 50%,
                var(--a-data-surface-2-subtle) 100%
            );
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .striped(transparent, rgba(255, 255, 255, 0.6));
            }
        }
    }
}
