@import './../../../../../styles/variables.css';

.egenNæringInput {
    background-color: var(--a-deepblue-50);
    margin-bottom: 1rem;
    padding: 1rem;
    width: var(--app-max-width)
}

.egenNæringInput__avbryt {
    margin-left: 1rem;
}


