@import './../../styles/app.css';

.periode-liste {
    margin-bottom: 1rem;
}

.periode-liste__block {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.periode-liste__title {
    font-style: italic;
    font-weight: var(--a-font-weight-regular);
}

@media (max-width: 768px) { 
    .periode-liste__block {
        margin-bottom: 2rem; 
        padding: 0;
    }
}
