@import './variables.css';


.contentWrapper {
        --max-width: 704px;
        --margin: 0 auto;
        --padding: 2rem;

        @media (max-width: var(mobile-breakpoint)) {
            --max-width: 100%;
        }
    }
