@import '../../common/styles/variables.less';

@app-max-width: 704px;
@button-height: 46px;

@mobile-breakpoint: 576px;
@tablet-breakpoint: 764px;
@desktop-breakpoint: 1024px;

@foreldrepenger-lilla: #c1b5d0;
@foreldrepenger-lilla-dark: #826ba1;

@modal-max-width: 500px;
