.perioderStep__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.perioderStep__tag {
    margin-right: 3rem;
}

@media (max-width: 768px) {
    .perioderStep__info {
        display: block;
    }
}
