.tekstMedInfotekst {
    position: relative;
    &__tekst {
        display: block;
        margin-bottom: 0.5rem;
    }
    &__infotekst {
        .sirkelknapp {
            position: absolute;
            top: 0;
            right: 0.5rem;
        }
    }
}
