.søkersPersonalia {
    display: flex;
    flex-flow: row;
    &__ikon {
        justify-content: center;
        align-self: center;
    }
    &__text {
        justify-content: center;
        align-self: center;
        padding-left: 1rem;
        h2 {
            margin-bottom: 0.125rem;
        }
    }
}
