.accordion_headerOpen {
    background-color: var(--a-deepblue-50);
}
.accordion_headerOpen:hover {
    background-color: var(--a-deepblue-50);

}
.accordion_header:hover {
    background-color: var(--a-deepblue-50);
}

.content_margin {
    margin-top: 12px;
}

.accordion__specificity > .accordion__header {
    box-shadow: var(--a-deepblue-50);
}