.oversiktPerDel {
    border-radius: 2px;
    background: #f2f3f5;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 2px solid transparent;
    box-shadow: 0px 4px 4px 0px transparent;
}

.oversiktPerDel:hover {
    border: 2px solid rgba(7, 26, 54, 0.21);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.oversiktPerDel--hover {
    border: 2px solid rgba(7, 26, 54, 0.21);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.oversiktPerDel--no-hover {
    border: 2px solid transparent;
    box-shadow: 0px 4px 4px 0px transparent;
}
