.pageContent {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header {
    max-width: 704px;
    margin: 0 auto;
    background-color: var(--a-surface-default);
    border-radius: 8px 8px 0 0;
}

.content {
    max-width: 704px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--a-surface-default);
    border-radius: 0 0 8px 8px;
}

@media (max-width: 768px) {
    .pageContent {
        padding-top: 0rem;
        padding-bottom: 0rem;
        flex-direction: column;
        display: flex;
        flex: 1;
    }

    .header {
        max-width: none;
        margin: inherit;
        width: 100%;
    }

    .content {
        max-width: none;
        margin: inherit;
        flex: 1;
        padding: 1.5rem 1rem;
        flex-direction: column;
        display: flex;
    }
}
