.mediumCircle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.largeCircle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.xlCircle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
}

.green {
    background: var(--ax-meta-lime-300);
}
.mediumGreen {
    background: var(--ax-meta-lime-400);
}

.darkGreen {
    background: var(--ax-meta-lime-400);
}

.gray {
    background: var(--ax-neutral-400);
}

.blue {
    background: var(--ax-brand-blue-400);
}
.lightBlue {
    background: var(--ax-brand-blue-400);
}
.darkBlue {
    background: var(--ax-brand-blue-600);
}
