.bluePanel {
    border-radius: 1.25rem;
    background-color: var(--ax-accent-100);
    display: flex;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: fit-content;
}

.greenPanel {
    border-radius: 1.25rem;
    background-color: var(--ax-success-200);
    display: flex;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: fit-content;
}

.pinkPanel {
    border-radius: 1.25rem;
    background-color: var(--ax-danger-100);
    display: flex;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: fit-content;
}

.purplePanel {
    border-radius: 1.25rem;
    background-color: var(--ax-meta-purple-200);
    display: flex;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: fit-content;
}
