.har-saker__tittel {
    display: flex;
    align-items: center;
    margin-bottom: var(--a-spacing-2);
}

.har-saker__undertittel {
    font-size: large;
}

.har-saker__tittel > :first-child {
    margin-right: 1rem;
}
