.har-ikke-saker__ingen-søknad {
    margin-bottom: 1.5rem;
}

.har-ikke-saker__overskrift {
    margin-bottom: 1.25rem;
}

.har-ikke-saker__om-foreldrepenger {
    margin-bottom: 0.5rem;
}

.har-ikke-saker__link {
    margin-bottom: 1.5rem;
}