.graf {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.container {
    display: flex;
}

.søyle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

.del {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delBox {
    width: 100%;
    border-width: 2px;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0px 4px 4px 0px transparent;
}

.delTekst {
    grid-column: 1;
    display: flex;
    justify-content: center;
}

.box:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.noShadow {
    box-shadow: 0px 4px 4px transparent;
}

.søkerMor {
    background-color: var(--ax-brand-blue-500);
    border-color: var(--ax-brand-blue-500);
}

.annenPartMor {
    background-color: var(--ax-brand-blue-400);
    border-color: var(--ax-brand-blue-400);
}

.søkerFar {
    background-color: var(--ax-success-500);
    border-color: var(--ax-success-500);
}

.annenPartFar {
    background-color: var(--ax-success-400);
    border-color: var(--ax-success-400);
}

.fellesperiode {
    background-color: var(--ax-bg-neutral-soft);
    border-color: var(--ax-border-neutral);
}

.fellesperiodeBruktAvFar {
    background-color: var(--ax-success-400);
    border-color: var(--ax-border-neutral);
}

.fellesperiodeBruktAvMor {
    background-color: var(--ax-brand-blue-400);
    border-color: var(--ax-brand-blue-600);
}

.fedrekvoteBruktAvMor {
    background-color: var(--ax-brand-blue-400);
    border-color: var(--ax-success-600);
}

.mødrekvoteBruktAvFar {
    background-color: var(--ax-success-400);
    border-color: var(--ax-brand-blue-500);
}

.ikkeTildelt {
    background-color: var(--ax-bg-neutral-moderate);
    border: 2px solid var(--ax-bg-neutral-strong);
}

.delGrafBox {
    border-width: 2px;
    border-style: solid;
    margin: 0px 2px;
}

.up {
    grid-row: 3;
}

.down {
    grid-row: 3;
}

@media (max-width: 768px) {
    .up {
        grid-row: 1;
    }

    .down {
        grid-row: 3;
    }

    .graf {
        display: flex;
        flex-direction: row;
        padding-bottom: 2rem;
    }
    .del {
        padding: 0.2rem;
    }
}
