@import '../../styles/variables.less';
@import '../../styles/mixins.less';

.infoBlock {
    .grayBlock();
    @media (max-width: @mobile-breakpoint) {
        .grayBlockMobileFullWidth();
    }
    &--pad {
        &-xl {
            padding: 5rem;
        }
        &-l {
            padding: 2.5rem;
        }
        &-m {
            padding: 2rem;
        }
        &-s {
            padding: 1.5rem;
        }
        &-xs {
            padding: 1rem;
        }
        &-xxs {
            padding: 0.5rem;
        }
        &--none {
            padding: 0;
        }
    }
}
