.circle {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__info {
    background: #99C4DD;
}

.circle__green {
    background: #ECF399;

}

.circle__general {
    background: var(--a-gray-300);
}