.fellesperiodeValgVisning__textBottom {
    display: 'flex';
    flex-direction: 'row';
    text-align: 'center';
}

.fellesperiodeValgVisning__textElement {
    height: '16rem';
    display: flex;
    justify-content: center;
}
