{
    "plugins": ["@babel/plugin-proposal-object-rest-spread"],
    "presets": ["@babel/env", "@babel/react"],
    "env": {
        "test": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
        }
    }
}
