*
!./apps/engangsstonad/dist
!./apps/foreldrepengeoversikt/dist
!./apps/foreldrepengesoknad/dist
!./apps/planlegger/dist
!./apps/svangerskapspengesoknad/dist
!./apps/veiviser-fp-eller-es/dist
!./apps/veiviser-hvor-mye/dist
!./server/dist
!./server-uinnlogget/dist
