.idea
.vscode
.awcache
dist
lib
node_modules
yarn.lock
yarn-error.log
.DS_Store
mock_data/soknad.json
*.iml
coverage
cypress/screenshots
cypress/videos
akseptansetest/config.js
akseptansetest/20*/
.static_storybook
.dccache
.turbo
.storybook-static-build
index-decorated.html
