{
    "useTabs": false,
    "arrowParens": "always",
    "singleQuote": true,
    "printWidth": 120,
    "endOfLine": "auto",
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": ["^@navikt/ds(.*)$", "^@navikt/fp(.*)$", "^app/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
