@import './../../styles/variables.less';

.linkButton {
    display: inline-block;
    text-align: left;
    border: none;
    padding: 0;
    margin: 0;
    &--white {
        color: white;
        text-decoration: underline;
        &:hover,
        &:focus {
            color: white;
            text-decoration: none;
        }
    }
}
