/** Overstyre nav-frontend-moduler styling */
.skjemaelement {
    margin-top: 0;
    margin-bottom: 0;
}
.datovelger__outer {
    margin-bottom: 0;
    padding-bottom: 0;
    &--withError {
        .skjemaelement__feilmelding {
            margin-top: 0.5rem;
        }
        padding-bottom: 0.5rem;
    }
}
.skjema__legend {
    margin-bottom: 0;
}
.skjemaelement__sporsmal {
    margin-bottom: 0.5rem;
}
.skjemaelement__label {
    font-weight: bold;
}
