.m_overflow-horizontal {
    padding-left: @stepPadding;
    padding-right: @stepPadding;
    margin-left: -1 * @stepPadding;
    margin-right: -1 * @stepPadding;
}

.m-noMargin {
    margin: 0 !important;
}

.m-noMarginTopBottom {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m-textCenter {
    text-align: center;
}

.m-fullBredde {
    width: 100%;
}

.m-padding-xs {
    padding: 0.5rem;
}
.m-padding-s() {
    padding: 1rem;
}
.m-padding-s {
    .m-padding-s();
}
.float-right {
    float: right;
}
