.nav-frontend-radiobuttonEkstern() {
    .skjemaelement {
        &__label {
            width: 100%;
            padding: 1rem 1rem 1rem 50px;
            line-height: 24px;
            background-color: @white;
            border: 2px solid @navGra20;
            border-radius: 4px;
            transition: border-color 200ms
                cubic-bezier(0.465, 0.183, 0.153, 0.946);
            &:hover {
                border-color: #0067c5;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            }
        }

        &__label:before {
            border-radius: 50%;
            width: 24px;
            height: 24px;
            top: 50%;
            margin-top: -12px;
            margin-left: 12px;
        }

        &__label:after {
            border-radius: 50%;
            margin-right: 12px;
        }
    }
}
.radioknapp:checked + .skjemaelement__label {
    background: #d4e1f2;
    border-color: #d4e1f2;
}
