@import '../../../node_modules/nav-frontend-core/less/_variabler.less';

/* Periodetyper */
@c-periodefarge-lilla: #634689;
@c-periodefarge-lilla--gradert: #d2c3e6;
@c-periodefarge-blaa: #3385d1;
@c-periodefarge-blaa--gradert: #c2dbf2;
@c-periodefarge-gronn: #06893a;
@c-periodefarge-gronn--gradert: #7ccf9d;
@c-periodefarge-yellow: #ff9100;
@mobile-breakpoint: 576px;
@c-buttonBlue: #0067c5;
@c-buttonDisabled: #b7b1a9;
@c-buttonDisabledBorder: #b7b1a9;
