.frilans-visning {
    border-radius: 2px;
    background: var(--global-deepblue-50, #e6f1f8);
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: 50% 50%;
    padding: 1rem;
    gap: 0px;
}

.frilans-visning__tittel {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.frilans-visning__dato {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
}
