.timePeriodForm {
    padding: 1rem;
    background-attachment: #fafafa;
    &__header {
        position: relative;
    }
    &__cancel {
        position: absolute;
        top: 0;
        right: 0;
    }
}
