.background {
    background-color: var(--a-gray-100);
    padding-bottom: 1rem;
}

.content {
    max-width: 560px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.lenkepanel {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.panel {
    text-decoration: none;
    width: 100%;
    padding: 12px;
}
