skyra-survey {
  --skyra-bg-color: #cd1616;
  --skyra-text-color: #000;
  --skyra-z-index: <ønsket z-index-verdi for widgeten>;
  --skyra-interface-color: #000;
  --skyra-action-color: #000;
  --skyra-action-text-color: #000;
  --skyra-secondary-color: #000;
  --skyra-link-color: #000;
  --skyra-error-color: #000;
  --skyra-font-size: 20px;
  --skyra-font-body: 'Source Sans Pro', Arial;
  --skyra-font-weight-normal: 800;
  --skyra-font-heading: 'Source Sans Pro', Arial;
}