.LenkePanel {
    display: grid;
    gap: var(--ax-space-20);
    grid-template-columns: 1fr max-content;
    color: var(--ax-text-neutral);
    box-shadow: var(--ax-shadow-dialog);
    justify-content: space-between;
    align-items: center;
    border-radius: var(--ax-radius-8);
    padding: var(--ax-space-16);
    background-color: var(--ax-bg-default);
}

.LenkePanel:hover {
    background-color: var(--ax-brand-blue-200);
    box-shadow: none;

    > div > svg {
        background: var(--ax-brand-blue-300);
    }
}

.LenkePanel:active {
    background-color: var(--ax-brand-blue-200);
    box-shadow: inset 0 0 0 var(--ax-space-4) var(--ax-border-info);

    > div > svg {
        background: var(--ax-brand-blue-300);
    }
}
