.LenkePanel {
    display: grid;
    gap: var(--a-spacing-5);
    grid-template-columns: 1fr max-content;
    color: var(--a-text-default);
    box-shadow: var(--a-shadow-small);
    justify-content: space-between;
    align-items: center;
    border-radius: var(--a-border-radius-large);
    padding: var(--a-spacing-4);
    background-color: var(--a-white);
}

.LenkePanel:hover {
    background-color: var(--a-deepblue-100);
    box-shadow: none;

    > div > svg {
        background: var(--a-deepblue-200);
    }
}

.LenkePanel:active {
    background-color: var(--a-deepblue-100);
    box-shadow: inset 0 0 0 var(--a-spacing-1) var(--a-border-info);

    > div > svg {
        background: var(--a-deepblue-200);
    }
}
