.se-dokumenter__linkPanel {
    border-radius: 0.5rem;
}

.se-dokumenter__icon {
    margin: 0.5rem;
    background-color: var(--surface-alt-3-subtle, #cce2f0);
    color: '#CCE2F0';
    border-radius: 26px;
    padding: 7px;
}

.se-dokumenter__link {
    margin: auto;
}
