.pictureScanningGuide {
    background-color: #e0f5fb;
    border-radius: 4px;
    padding: 1rem;
    @media screen and (min-width: 768px) {
        padding: 1rem;
    }
    svg {
        pointer-events: none;
    }
    &__title {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    ul {
        margin: 0 0 1rem 0;
        li {
            margin-bottom: 0.5rem;
        }
    }
    &__body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    &__cell {
        flex: 1 1 50%;
        height: auto;
        padding: 0.5rem 0.5rem 1.5rem 0.5rem;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        @media screen and (min-width: 768px) {
            max-width: 25%;
        }
    }
    &__example {
        &__image {
            padding-left: 1rem;
            margin-bottom: 0.75rem;
        }
        &__title {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }
        &__statusIcon {
            padding-right: 0.5rem;
            line-height: 0;
        }
    }
}
