.duHarSvartNeiListe {
    &__overskrift {
        margin-top: 1rem;
    }

    &__liste {
        margin-top: 0.75rem;
        margin-bottom: -0.5rem;
        padding-left: 2rem;
    }

    &__liste > li {
        padding-bottom: 0.75rem;
    }
}
