@import './../../../../styles/variables.css';

.egenNæringInput {
    background-color: var(--a-deepblue-50);
    margin-bottom: 1rem;
    padding: 1rem;
    width: var(--app-max-width)
}

.egenNæringInput__leggtil {
    background-color: blue;
}

.egenNæringInput__leggtil > :first-child {
    background-color: white;  
}

.egenNæringInput__feilmelding {
    padding-top: 0.5rem;
}
