.sak-link {
    padding: var(--a-spacing-6) var(--a-spacing-4);
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--a-shadow-small);
}

.sak-link > .navds-link-panel__content {
    width: 100%;
}

.sak-link__content {
    margin-top: var(--a-spacing-1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--a-spacing-2);
}

