@app-max-width: 704px;

@mobile-breakpoint: 576px;
@tablet-breakpoint: 768px;

.contentWrapper() {
    max-width: 704px;
    margin: 0 auto;
    padding: 2rem;

    @media (max-width: @tablet-breakpoint) {
        max-width: 100%;
    }

    @media (max-width: @mobile-breakpoint) {
        padding: 1rem;
    }
}

.list-content {
    margin: 1rem;
    display: flex;
}

.list-item-oversikt {
    display: inline-block;
    vertical-align: middle;
    padding: 0rem 4rem 0rem 0rem;
    @media (max-width: @tablet-breakpoint) {
        padding: 0rem 2rem 0rem 0rem;
    }
}

.list-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0rem 1rem 0rem 0rem;
    @media (max-width: @tablet-breakpoint) {
        padding: 0rem 2rem 0rem 0rem;
    }
}

.center {
    text-align: center;
}

.center-media {
    text-align: left;
    @media (max-width: @tablet-breakpoint) {
        text-align: center;
    }
}

.planleggerKnapp {
    --ac-button-secondary-bg: #007C2E;
    --ac-button-secondary-text: white;
    --ac-button-secondary-hover-bg: #CCF1D6;
    --ac-button-secondary-hover-text:#007C2E;
    --ac-button-secondary-border: none;
    border-radius: 6.25rem !important;
}

.button-wrapper {
    align-items: center;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.icon {
    font-size: 3rem;
    flex-shrink: 0;
    display: grid;
    place-content: center;
    border-radius: 1.25rem;
    background: var(--global-limegreen-300, #D9E366);
}

.icon-right {
    place-content: flex-end;
}

.mt-10 {
    margin-top: 10px;
}  
  
.mr-10 {
    margin-right: 10px;
} 

.mr-30 {
    margin-right: 30px;
} 

.border {
    padding: 1rem;
    border: solid thin;
    border-radius: 0.5rem !important;
}

.panel {
    border-radius: 0.5rem !important;
    padding: 1rem;
    margin-bottom: 1rem;
}

.green {
    background-color: #ECF399;
}

.grey {
    background-color: var(--a-gray-200);
}