body {
    font-family: 'Source Sans Pro', Arial !important;
    font-size: 16px;
    line-height: 1.5;
    color: var(--a-black-100);
    background-color: var(--a-white-100);
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
}
