html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Source Sans Pro', Arial !important;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

#app {
    flex: 1;
    background-color: var(--ax-neutral-200);
}

@media (max-width: 768px) {
    #app {
        display: flex;
        flex-direction: column;
    }
}

@layer base {
    img,
    canvas {
        @apply inline-block;
    }
}

/* Fiks for å unngå scroll på skyra-survey. */
skyra-survey {
    --skyra-option-list-max-height: 500px;
}
