.button-wrapper {
    align-items: center;
}

.border {
    padding: 1rem;
    border: solid thin;
    border-radius: 0.5rem !important;
}

.panel {
    border-radius: 0.5rem !important;
    padding: 1rem;
    margin-bottom: 1rem;
    width: auto !important;
}

.panel-top {
    border-radius: 0rem 0rem 0.5rem 0.5rem !important;
    padding: 1rem;
    margin-bottom: 1rem;
}
.green {
    background-color: #ecf399;
}

.grey {
    background-color: var(--a-gray-200);
}
.white {
    background-color: var(--a-white);
}
