.background {
    background-color: var(--a-gray-100);
    --ac-link-active-text: 'black';
}

.box {
    max-width: 560px;
    margin: 0 auto;
    padding: 1rem 2rem 1rem;
}

@media (max-width: 768px) {
    .background {
        background-color: white;
    }
}

.lenkepanel {
    text-decoration: none;
    color: inherit;
    width: 100%;
}
