@mobile-breakpoint: 576px;
@tablet-breakpoint: 764px;
@c-buttonBlue: #0067c5;
@button-size: 46px;
@blockLightGray: #efefef;
@lightGrayBorder:#C6C2BF;
@c-buttonDisabledBorder: #b7b1a9;
@c-buttonDisabled: #b7b1a9;
@c-buttonDisabledBorder: #b7b1a9;
