.infoEksisterendePerioder {
    margin-top: 1rem;

    &__list {
        list-style: inside;
        padding-left: 0;
        min-width: 400px;

        li:not(:last-child) {
            margin-bottom: 0.25rem;
        }
    }

    &__listInfo {
        display: inline-flex;
        justify-content: space-between;
    }

    &__listInfoPeriode {
        padding-right: 0.5rem;
    }
}
