.fellesperiodeFordeling {
    padding: 2rem 0rem 1rem 2rem;
}

.fellesperiodeFordeling__textInput {
    min-width: 100px;
    padding: 1rem 0rem;
    width: 40%;
}

.fellesperiodeFordeling__description {
    color: var(--a-text-subtle);
}
