@import './../../styles/variables.less';

.ukerDagerTeller {
    display: flex;

    &__ukerFelt {
        margin-right: 3.5rem;
    }
    .skjema__legend {
        font-weight: normal;
    }

    @media (max-width: @mobile-breakpoint) {
        flex-direction: column;
    }
}
