.labelMedInfobox {
    &__title {
        padding-bottom: 0.5rem;
    }

    &__heading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &--stil-seksjon {
            border-bottom: 1px solid #979797;
            margin-bottom: 1rem;

            .labelMedInfobox__title {
                font-size: 1.25rem;
            }
        }

        .sirkelknapp {
            margin-left: 1rem;
        }
    }
}
