.periodelisteItem {
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;

    &--egenPeriode {
        border: 1px solid var(--a-gray-200);
    }

    > .ekspanderbartPanel--apen {
        border: none;
    }

    &__header {
        border: none;

        &:hover {
            border: none;
        }
    }
    &--transparent {
        background-color: var(--a-gray-200);
    }
}