.modalFormAndList__addButton button {
    @media (max-width: 600px) {
        white-space: pre-wrap;
    }
}

.modalFormAndListFieldset:focus-visible {
    outline: none;
    legend {
        margin: 0 -2px;
        padding: 0 2px;
        border-radius: 0.125rem;
        box-shadow:
            inset 0 0 0 2px
                var(
                    --ac-button-secondary-focus-border,
                    var(--__ac-button-secondary-focus-border, var(--a-border-action))
                ),
            var(--a-shadow-focus);
    }
}
