@import './../../../../../styles/variables.css';

.arbeidIUtlandetInput {
    background-color: var(--a-deepblue-50);
    margin-bottom: 1rem;
    padding: 1rem;
    width: var(--app-max-width)
}



.arbeidIUtlandetInput__avbryt {
    margin-left: 1rem;
}
