@import './../../styles/variables.less';

.registrertePersonalia {
    padding: 1rem;
    &__navn {
        padding-bottom: 0.125rem;
    }
    background-color: #F3FCF5;
    border: 1px solid #06893A;
}
