@import './../../styles/variables.less';

.registrertePersonalia {
    padding: 1rem;
    &__navn {
        padding-bottom: 0.125rem;
    }
    background-color: #E6F1F8;
    border: 1px solid #70A9DE;
}
