.bekreftelse-sendt-søknad {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.bekreftelse-sendt-søknad--smallMargin {
    margin-bottom: 1rem;
}

.bekreftelse-sendt-søknad--bigMargin {
    margin-bottom: 3rem;
}
.bekreftelse-sendt-søknad__tidspunkt {
    color: var(--a-text-subtle);
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.bekreftelse-sendt-søknad__ikon-box {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--a-green-100);
    margin-right: 1rem;
}

.bekreftelse-sendt-søknad__ikon {
    color: var(--a-green-800);
}

.bekreftelse-sendt-søknad__tittel {
    font-weight: bold;
    font-size: x-large;
    color: var(--a-deepblue-600);
}

.bekreftelse-sendt-søknad--justTitle {
    padding-top: 0.75rem;
}
.bekreftelse-sendt-søknad--titleAndInfo {
    padding: 0rem;
}

.bekreftelse-sendt-søknad__dokument {
    color: var(--a-deepblue-600);
}
