.søkersPersonalia {
    display: flex;
    align-items: center;

    &__label {
        margin-left: 1rem;
    }

    &__name {
        display: inline-block;
        margin-bottom: 0.25rem;
    }

    &__personNummer {
        display: inline-block;
    }
}
