body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app {
    flex: 1;
    background-color: white;
    min-width: 320px;
}

a {
    cursor: pointer;
}

@media screen {
    .print-only {
        display: none;
    }
}

@media print {
    .no-print {
        display: none;
    }
    .print-only {
        display: block;
    }
}
