.days {
    height: 19px;
    padding: 2px 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0 2px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.06px;
}

@media (max-width: 630px) {
    .days {
        height: 15px;
        padding: 2px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px 0 2px 0;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 13px;
        letter-spacing: 0.06px;
    }
}

.blueDay {
    background-color: var(--a-blue-300);
}

.lightblueDay {
    background-color: var(--a-data-surface-2-subtle);
    border-top: 1px solid var(--a-blue-300);
    border-bottom: 1px solid var(--a-blue-300);
}

.lightblueDay.firstDay {
    border-left: 1px solid var(--a-blue-300);
}

.lightblueDay.lastDay {
    border-right: 1px solid var(--a-blue-300);
}

.lightblueDay.firstAndLastDay {
    border-left: 1px solid var(--a-blue-300);
    border-right: 1px solid var(--a-blue-300);
}

.lightgreenDay {
    background-color: var(--a-green-100);
    border-top: 1px solid var(--a-green-300);
    border-bottom: 1px solid var(--a-green-300);
}

.lightgreenDay.firstDay {
    border-left: 1px solid var(--a-green-300);
}

.lightgreenDay.lastDay {
    border-right: 1px solid var(--a-green-300);
}

.lightgreenDay.firstAndLastDay {
    border-left: 1px solid var(--a-green-300);
    border-right: 1px solid var(--a-green-300);
}

.greenDay {
    background-color: var(--a-data-surface-5);
}

.greenStripedDay {
    background: repeating-linear-gradient(
        45deg,
        var(--a-data-surface-5) 0%,
        var(--a-data-surface-5) 30%,
        var(--a-green-200) 30%,
        var(--a-green-200) 60%
    );
    border-top: 1px solid var(--a-data-surface-5);
    border-bottom: 1px solid var(--a-data-surface-5);
}

.greenStripedDay.firstDay {
    border-left: 1px solid var(--a-data-surface-5);
}

.darkgreenStripedDay.lastDay {
    border-right: 1px solid var(--a-data-surface-5);
}

.darkgreenStripedDay.firstAndLastDay {
    border-left: 1px solid var(--a-data-surface-5);
    border-right: 1px solid var(--a-data-surface-5);
}

.blueGreyDay {
    background: linear-gradient(
        to top right,
        var(--a-blue-300),
        var(--a-blue-300),
        var(--a-gray-200),
        var(--a-blue-300)
    );
    border-top: 1px solid var(--a-blue-300);
    border-bottom: 1px solid var(--a-blue-300);
}

.blueGreyDay.firstDay {
    border-left: 1px solid var(--a-blue-300);
}

.blueGreyDay.lastDay {
    border-right: 1px solid var(--a-blue-300);
}

.blueGreyDay.firstAndLastDay {
    border-left: 1px solid var(--a-blue-300);
    border-right: 1px solid var(--a-blue-300);
}

.grayDay {
    background-color: var(--a-gray-200);
}

.orangeDay {
    background-color: var(--a-surface-warning);
}

.purpleDay {
    background-color: var(--a-purple-300);
}

.lightBlueDarkGreenDay {
    background: linear-gradient(
        to top,
        var(--a-data-surface-5),
        var(--a-data-surface-5) 50%,
        var(--a-data-surface-2-subtle) 50%,
        var(--a-data-surface-2-subtle) 75%,
        var(--a-data-surface-2-subtle) 100%
    );
    border-top: 1px solid var(--a-data-surface-5);
    border-bottom: 1px solid var(--a-data-surface-5);
}

.lightBlueDarkGreenDay.firstDay {
    border-left: 1px solid var(--a-data-surface-5);
}

.lightBlueDarkGreenDay.lastDay {
    border-right: 1px solid var(--a-data-surface-5);
}

.lightBlueDarkGreenDay.firstAndLastDay {
    border-left: 1px solid var(--a-data-surface-5);
    border-right: 1px solid var(--a-data-surface-5);
}

.lightgreenBlueDay {
    background: linear-gradient(
        to top,
        var(--a-blue-300),
        var(--a-blue-300) 50%,
        var(--a-green-100) 50%,
        var(--a-green-100) 75%,
        var(--a-green-100) 100%
    );
    border-top: 1px solid var(--a-blue-300);
    border-bottom: 1px solid var(--a-blue-300);
}

.lightgreenBlueDay.firstDay {
    border-left: 1px solid var(--a-blue-300);
}

.lightgreenBlueDay.lastDay {
    border-right: 1px solid var(--a-blue-300);
}

.lightgreenBlueDay.firstAndLastDay {
    border-left: 1px solid var(--a-blue-300);
    border-right: 1px solid var(--a-blue-300);
}

.none {
    padding-left: 2px;
    padding-right: 2px;
}

.pinkDay {
    --c: var(--a-red-100);
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    background:
        radial-gradient(circle at 60% 65%, var(--c) 64%, #0000 65%) top left/50% 50%,
        radial-gradient(circle at 40% 65%, var(--c) 64%, #0000 65%) top right/50% 50%,
        conic-gradient(from -45deg at 50% 85.5%, var(--c) 90deg, #0000 0) bottom/100% 50%;
    background-repeat: no-repeat;
    padding: 0 2px 2px 2px;
    margin-left: 1px;
}

.firstDay {
    border-radius: 1rem 0 0 1rem;
    margin-left: 1px;
}

.lastDay {
    border-radius: 0 1rem 1rem 0;
    margin-right: 1px;
}

.firstAndLastDay {
    border-radius: 1rem;
}
