.box {
    padding-top: 20px;
    width: 170px;
    break-inside: avoid;
}

.weeknr {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ax-text-neutral-subtle);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    cursor: default;
}

@media (max-width: 630px) {
    .box {
        padding-top: 2px;
        width: 120px;
    }
    .weeknr {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .box {
        padding-top: 2px;
        width: 170px;
    }
    .weeknr {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .box {
        padding-top: 2px;
        width: 100%;
    }
}

@media (max-width: 300px) {
    .box {
        padding-top: 2px;
        width: 95px;
    }
}
