html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--a-blue-50);
}

.app {
    padding-bottom: 0.125rem;
}

.app__blue {
    background-color: var(--a-blue-50);
    height: 100%;
}

.app__white {
    background-color: var(--a-white);
}
