@import '../../../styles/variables.less';
.søknadSendt {
    display: flex;
    flex-direction: column;
    &__spotlightLetter {
        margin-top: 2rem;
        width: 100%;
        align-self: center;
    }
    &__tittel {
        text-align: center;
    }
    &__avsluttKnapp {
        align-self: center;
        margin-bottom: 2.5rem;
        height: @button-height;
    }
}
