.sakLink.sakLink {
    padding: var(--ax-space-24) var(--ax-space-16);
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--a-shadow-small);
}

.sakLink > :global(.navds-link-panel__content) {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--ax-space-8);

    & :global(.navds-tag) {
        height: fit-content;
    }
}
