.periode-liste-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.periode-liste-header__dato {
    padding: 0.5rem 1rem;
    min-width: 30%;
}

.periode-liste-header__uker {
    padding: 0.5rem 1rem;
    min-width: 30%;
}

.periode-liste-header__hendelse {
    min-width: 40%;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
}

.periode-liste-header__hendelse-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.periode-liste-header--farge-blaa {
    color: var(--a-blue-400);
}

.periode-liste-header--farge-gronn {
    color: var(--a-green-400);
}

.periode-liste-header--farge-gul {
    color: var(--a-orange-300);
}

.periode-liste-header--farge-bg-lysblaa {
    background-color: var(--a-blue-50);
}

.periode-liste-header--farge-bg-lysblaa-gronn {
    background: linear-gradient(
        135deg,
        var(--a-green-100) 0%,
        var(--a-green-100) 50%,
        var(--a-blue-50) 50%,
        var(--a-blue-50) 100%
    );
}

.periode-liste-header--farge-bg-gul {
    background-color: var(--a-orange-100);
}

.periode-liste-header--farge-bg-gronn {
    background-color: var(--a-green-100);
}
