.periode-liste-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.periode-liste-header__dato {
    padding: 0.5rem 1rem;
    min-width: 30%;
}

.periode-liste-header__uker {
    padding: 0.5rem 1rem;
    min-width: 25%;
}

.periode-liste-header__hendelse {
    min-width: 45%;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
}

.periode-liste-header__hendelse-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.periode-liste-header--farge-blaa {
    color: var(--ax-accent-500);
}

.periode-liste-header--farge-gronn {
    color: var(--ax-success-500);
}

.periode-liste-header--farge-gul {
    color: var(--ax-warning-400);
}

.periode-liste-header--farge-graa {
    color: var(--ax-neutral-500);
}

.periode-liste-header--farge-lilla {
    color: var(--ax-meta-purple-500);
}

.periode-liste-header--farge-red {
    color: var(--ax-danger-600);
}

.periode-liste-header--farge-bg-lysblaa {
    background-color: var(--ax-accent-100);
}

.periode-liste-header--farge-bg-lysblaa-gronn {
    background: linear-gradient(
        135deg,
        var(--ax-success-200) 0%,
        var(--ax-success-200) 50%,
        var(--ax-accent-100) 50%,
        var(--ax-accent-100) 100%
    );
}

.periode-liste-header--farge-bg-gul {
    background-color: var(--ax-warning-200);
}

.periode-liste-header--farge-bg-gronn {
    background-color: var(--ax-success-200);
}

.periode-liste-header--farge-bg-graa {
    background-color: var(--ax-bg-neutral-moderate-hoverA);
}

.periode-liste-header--farge-bg-lilla {
    background-color: var(--ax-meta-purple-200);
}

.periode-liste-header--farge-bg-blaa {
    background-color: var(--ax-bg-default);
    box-shadow: inset 0px 0px 0px 2px var(--ax-accent-500);
}

.periode-liste-header--farge-bg-red {
    background-color: var(--ax-danger-100);
}

@media (max-width: 767px) {
    .periode-liste-header__dato {
        min-width: 60%;
    }

    .periode-liste-header__uker {
        min-width: 20%;
    }

    .periode-liste-header__hendelse {
        padding: 1rem;
        border-radius: 2rem;
        min-width: 0%;
    }

    .periode-liste-header__hendelse-wrapper {
        display: flex;
    }
}
