@import '../../styles/variables.less';

.periodeliste {
    &__item {
        margin-bottom: 0.25rem;
        position: relative;
        background-color: white;
        border-radius: 0.25rem;
        &:last-child {
            margin-bottom: 0;
        }
        &--expanded {
            margin-bottom: 1rem;
            &.periodeliste__item--with-gap  {
                margin-bottom: 0rem;
            }
        }
        &--firstInvalidTidsperiode {
            margin-top: 2rem;
        }
        &--type-ubegrunnetOpphold {
            background-color: transparent;
        }
    }
    &__infoItem {
        padding: 1rem 0;
        font-size: 0.9rem;
        padding-left: 1.9rem;
        display: flex;
        align-items: end;
        &__icon {
            display: block;
            float: left;
            padding-right: 0.75rem;
        }
        &__text {
            border-left: 1px solid #b7b1a9;
            padding-left: 0.75rem;
        }
        &__buttons {
            width: 100%;
            padding-top: 0.5rem;
        }
    }
    &__content {
        padding: 1.5rem;
        position: relative;

        &:before {
            content: '';
            display: block;
            height: 1px;
            top: 0;
            left: 1rem;
            right: 1rem;
            position: absolute;
            background-color: #c6c2bf;
        }
    }
    .skjema__feilomrade--harFeil {
        margin-bottom: 0;
    }
}
