.fordelingFellesperiode--valgtVerdi {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.fordelingFellesperiode--bottomContent {
    margin-top: 0.75rem;
}

.m-text-center {
    text-align: center;
}
