.alertstripe {
    &__ikon {
        display: inline-block;
    }
}

.alertStripeContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__error-list {
        display: flex;
        flex-flow: column;
    }

    &__error-list-element:not(:last-child) {
        margin-bottom: 1rem;
    }
}
