.utsettelseSkjema {
    &__hovedknapp {
        width: 100%;
    }
    .row,
    .col {
        position: initial;
    }
    .tidsperiodeSkjemagruppe {
        &--harFeil {
            margin-top: 0.5rem;
            .skjemaelement__feilmelding {
                margin-top: -0.5rem;
            }
        }
    }
}
