.bluePanel {
    border-radius: 1.25rem;
    background-color: var(--a-blue-50);
    display: flex;
    padding: 10px;
    width: fit-content;
}

.greenPanel {
    border-radius: 1.25rem;
    background-color: var(--a-green-100);
    display: flex;
    padding: 10px;
    width: fit-content;
}

.pinkPanel {
    border-radius: 1.25rem;
    background-color: var(--a-red-50);
    display: flex;
    padding: 10px;
    width: fit-content;
}

.calendar {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .calendar {
        padding: 0px;
    }
}

@media (max-width: 479px) {
    .calendar {
        padding: 0px;
        margin-left: -32px;
        margin-right: -32px;
    }
}
