.progressStepper__heading {
    margin-bottom: 1rem;
}
.progressStepper__heading__title {
    display: flex;
    flex-direction: column;
}
.progressStepper__heading__title:focus {
    border: none;
    outline: none;
}
.progressStepper__heading__stepInfo {
    margin-bottom: 0.5rem;
}
.progressStepper__progressBarWrapper {
    margin-bottom: 0.5rem;
}
.progressStepper__stepsInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media screen and (max-width: 20rem) {
    .progressStepper__stepsInfo {
        display: block;
    }
    .progressStepper__stepsInfo__allSteps {
        margin-top: 0.5rem;
    }
}
.progressStepper__backLink {
    vertical-align: middle;
}
.progressStepper__backLink__icon {
    font-size: 1.25rem;
}
.progressStepper__allSteps {
    margin-top: 0.5rem;
    border: 4px solid var(--a-deepblue-100);
    border-radius: 0.5rem;
    padding: 1rem 1rem 0rem 1rem;
}
.progressStepper__allStepsFooter,
.progressStepper__allStepsHeader {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.progressStepper__allStepsFooter p:first-child,
.progressStepper__allStepsHeader p:first-child {
    margin-top: 0;
}
.progressStepper__allStepsFooter p:last-child,
.progressStepper__allStepsHeader p:last-child {
    margin-bottom: 0;
}
.progressStepper__toggleAllStepsIcon {
    font-size: 1.25rem;
    margin-top: 0.125rem;
}
.progressStepper__progressBar {
    background-color: var(--a-deepblue-100);
    width: 100%;
    border-radius: 0.5rem;
}
.progressStepper__progressBar__progress {
    height: 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--a-deepblue-300);
}
