.ettersending-page {
    padding-bottom: 10rem;
}

.ettersending-page__beskrivelse {
    margin-bottom: 1rem;
}

.ettersending-page__select {
    margin-bottom: 1rem;
}

.ettersending-page__vedleggsliste {
    margin-bottom: 2rem;
}

.ettersending-page__vedleggsliste-tittel {
    margin-bottom: 0.5rem;
}