@import 'print';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app {
    flex: 1;
    background-color: white;
    min-width: 320px;
}

.stepFooter__avbrytSoknadLenke {
    color: #cf3333;
}
