@app-max-width: 704px;

@mobile-breakpoint: 576px;
@tablet-breakpoint: 768px;

@navRodLighten20: mix(#C30000, #fff, 80%);
@c-red: #BA3A26;
@fokusFarge: #FFBD66;
@navGra20: #C6C2BF;
@redError:#BA3A26;
@navBlaLighten20:mix(#0067C5,#fff, 80%);

@c-buttonBlue: #0067c5;
