.addTilrettelegging {
    display: flex;

    &__datoWrapper {
        padding-right: 1.5rem;
    }

    &__prosentWrapper {
        padding-right: 1rem;
    }

    &__deleteWrapper {
        min-width: 10%;
        align-self: flex-end;
    }
}
