.content-section {
    margin-bottom: 2rem;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--surface-alt-3-subtle, #CCE2F0);
    border-radius: 8px;
}

.content-section--bg-white {
    background-color: var(--a-white);
}

.content-section--bg-yellow {
    background-color: var(--a-surface-warning-subtle);
    border: 1px solid var(--a-surface-warning);
}

.content-section--padding-large {
    padding: 2rem;
}

.content-section--padding-default {
    padding: 1rem;
}

.content-section--padding-none {
    padding: 0;
}

.content-section--corner-style-rounded {
    border-radius: 0.5rem;
}

.content-section--corner-style-square {
    border-radius: 0;
}

.content-section__heading {
    margin-bottom: 1rem;
}
