.graf {
    display: flex;
    flex-direction: row;
}

.graf__container {
    display: flex;
}

.graf__søyle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

.graf__del {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graf__del-box {
    width: 100%;
    border-width: 2px;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0px 4px 4px 0px transparent;
}

.graf__del-tekst {
    grid-column: 1;
    display: flex;
    justify-content: center;
}

.graf__del-box:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.graf--shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.graf--no-shadow {
    box-shadow: 0px 4px 4px transparent;
}

.graf--søker-mor {
    background-color: var(--a-data-surface-1);
    border-color: var(--a-data-surface-1);
}

.graf--annen-part-mor {
    background-color: var(--a-data-surface-2-subtle);
    border-color: var(--a-data-surface-2-subtle);
}

.graf--søker-far {
    background-color: var(--a-data-surface-5);
    border-color: var(--a-data-surface-5);
}

.graf--annen-part-far {
    background-color: var(--a-data-surface-5-subtle);
    border-color: var(--a-data-surface-5-subtle);
}

.graf--fellesperiode {
    background-color: var(--a-bg-subtle);
    border-color: var(--a-border-default);
}

.graf--fellesperiode-brukt-av-far {
    background-color: var(--a-data-surface-5-subtle);
    border-color: var(--a-border-default);
}

.graf--fellesperiode-brukt-av-mor {
    background-color: var(--a-data-surface-2-subtle);
    border-color: var(--a-deepblue-500);
}

.graf--fedrekvote-brukt-av-mor {
    background-color: var(--a-data-surface-2-subtle);
    border-color: var(--a-green-500);
}

.graf--mødrekvote-brukt-av-far {
    background-color: var(--a-data-surface-5-subtle);
    border-color: var(--a-data-surface-1);
}

.graf__del-graf-box {
    border-width: 2px;
    border-style: solid;
    margin: 0px 2px;
}

.graf--up {
    grid-row: 3;
}

.graf--down {
    grid-row: 3;
}

@media (max-width: 768px) {
    .graf--up {
        grid-row: 1;
    }

    .graf--down {
        grid-row: 3;
    }

    .graf {
        display: flex;
        flex-direction: row;
        padding-bottom: 2rem;
    }
    .graf__del {
        padding: 0.2rem;
    }
}
