.graf {
    display: flex;
    flex-direction: row;
}

.graf__søyle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.graf__del {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graf__del-box {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0px 4px 4px 0px transparent;
}

.graf__del-tekst {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
}

.graf__del-box:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.graf--shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.graf--no-shadow {
    box-shadow: 0px 4px 4px transparent;
}

.graf--søker-mor {
    background-color: #3386e0;
    border-color: #3386e0;
}

.graf--annen-part-mor {
    background-color: #99c4dd;
    border-color: #99c4dd;
}

.graf--søker-far {
    background-color: #33aa5f;
    border-color: #33aa5f;
}

.graf--annen-part-far {
    background-color: #99dead;
    border-color: #99dead;
}

.graf--fellesperiode {
    background-color: #eceef0;
    border-color: black;
}

.graf__del-graf-box {
    border-width: 1px;
    border-style: solid;
    margin: 0px 2px;
}
