.leggTilKnapp {
    padding-left: 1.5rem;
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__pluss {
        padding-right: 0.5rem;
    }
    &:hover {
        .leggTilKnapp__pluss {
            svg * {
                fill: white;
            }
        }
    }
    &__label {
        text-align: left;
        white-space: nowrap;
        font-weight: bold;
    }
}
