.horizontal-indent-divider {
    background: var(--a-surface-alt-3-moderate);
    width: auto;
    border-radius: 2px;
    height: 3px;
}

.legg-til-ferieperiode-button {
    margin-top: var(--a-spacing-4);
    width:fit-content;
}
