@import './../../../../styles/variables.css';

.arbeidsforholdInfoBox {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--a-deepblue-50);
    border-radius: 0.25rem;
}

.arbeidsforholdInfoBox__arbeidsforholdList {
    list-style: none;
    padding: 0;
    margin-top: 0rem;
    li {
        margin-bottom: 1rem;
    }

    li:last-child {
        margin-bottom: 0;
    }
}

.arbeidsforholdInfoBox__topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.arbeidsforholdInfoBox__stillingsprosent {
    margin-left: auto;
}

@media (max-width: var(mobile-breakpoint)) {
    .arbeidsforholdInfoBox {
        margin-left: -1rem;
        margin-right: -1rem;
        border-radius: 0;
    }
}
