.m_overflow-horizontal {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -1 * 2rem;
    margin-right: -1 * 2rem;
}

.m_no-margin {
    margin: 0 !important;
}

.m_no-focusOutline {
    &:focus {
        outline: none;
    }
}
