@import '../../../node_modules/nav-frontend-core/less/_variabler.less';

@marginSmall: 0.5rem;
@marginMedium: 1rem;
@marginLarge: 1.5rem;

@paddingSmall: 0.5rem;
@paddingLarge: 2rem;
@button-height: 46px;

@mobile-breakpoint: 576px;
@tablet-breakpoint: @screen-tablet;

@c-purple: @navLilla;
@c-purpleLighten: @navLillaLighten20;
@c-purpleHeaderIllustrationBkg: #e0dae7;

@c-green: @navGronn;
@c-greenLighten: @navGronnLighten20;
@c-greenHeaderIllustrationBkg: #cae7d9;

@c-orange: #d87f0a;
@c-orangeLighten:mix(@navOransje,#fff,80%);
@c-orangeHeaderIllustrationBkg: #ffe9cc;

@c-red: @redError;
@c-redLighten: @redErrorLighten20;
@c-redHeaderIllustrationBkg: @pinkErrorBg;

@c-blue: #3385d1;
@c-buttonBlue: #0067c5;
@c-infoBlue: #99bdcd;
@c-gray: #efefef;

@z-index-daypicker: 200;