@marginSmall: 0.5rem;
@marginMedium: 1rem;
@marginLarge: 1.5rem;

@paddingSmall: 0.5rem;
@paddingLarge: 2rem;
@button-height: 46px;

@mobile-breakpoint: 576px;
@tablet-breakpoint: 68px;

@c-purple: #634689;
@c-purpleLighten: #8269a2;
@c-purpleHeaderIllustrationBkg: #e0dae7;

@c-green: #06893a;
@c-greenLighten: #33aa5f;
@c-greenHeaderIllustrationBkg: #cae7d9;

@c-orange: #d87f0a;
@c-orangeLighten:mix(#ff9100,#fff,80%);
@c-orangeHeaderIllustrationBkg: #ffe9cc;

@c-red: #ba3a26;
@c-redLighten: #d05c4a;
@c-redHeaderIllustrationBkg: #f3e3e3;

@c-blue: #3385d1;
@c-buttonBlue: #0067c5;
@c-infoBlue: #99bdcd;
@c-gray: #efefef;

@z-index-daypicker: 200;