.antallUkerOgDagerFellesperiodeFarMedmorSpørsmål {
    display: flex;

    &__uker {
        margin-right: 0.625rem;
    }

    &__stepper {
        display: flex;
        align-items: baseline;
        margin-right: 1.625rem;
    }

    &__icon {
        align-self: center;
        padding-right: 0.625rem;
        padding-top: 1rem;
    }
}
