@import '../../styles/mixins.less';

.velkommen {
    .contentWrapper();

    &__tittel {
        text-align: center;
    }

    &__startSøknadKnapp {
        text-align: center;
    }

    &__personopplysningLenke {
        text-align: center;
    }
}
