.kvitteringHeader {
    text-align: center;

    &__spotlightLetter {
        margin-top: 2rem;
    }

    &__sendtInnTid {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
