@import '../../styles/variabler.less';

.oppsummering {
    &__punkt {
        position: relative;
    }

    &__tittel {
        overflow: hidden;
        margin-bottom: 0.5rem;
    }

    &__tittel:after {
        content: '';
        display: inline-block;
        height: 0.75rem;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        padding-right: 0.5rem;
        margin-left: 1rem;
        border-top: 2px solid @foreldrepenger-lilla;
    }

    &__ikon {
        position: absolute;
        margin-left: -4rem;
        width: 3rem;
        text-align: right;
    }
}
