@import './../../../styles/variables.less';

.kvittering {
    width: 100%;
    margin-bottom: 2rem;

    &__suksess {
        border: 1px solid #9bd0b0;
        border-radius: 4px;
        background-color: #9bd0b0;
        display: flex;
        padding: 1rem;
        align-items: center;
        width: 100%;
    }

    &--mangler-vedlegg {
        border: 1px solid #ffe9cc;
        background-color: #ffe9cc;
    }

    &__ikon {
        min-width: 3rem;
        height: 24px;
    }
}
