.tidslinje-hendelse {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
    position: relative;
    margin: 0 -1rem;
}

.tidslinje-hendelse--aktiv_er_ikke_første_hendelse {
    padding-top: 2rem;
}

.tidslinje-hendelse__tekst {
    padding-left: 0.5rem;
}

.tidslinje-hendelse__ikon svg {
    size: 120%;
    position: relative;
    z-index: 2;
    background-color: var(--a-white);
    padding: 0px;
    margin-left: 7px;
}

.tidslinje-hendelse__ikon_active svg {
    color: var(--a-deepblue-300);
    background-color: var(--a-deepblue-200);
}

.tidslinje-hendelse__ikon_completed svg {
    color: var(--a-deepblue-300);
    background-color: transparent;
}

.tidslinje-hendelse__ikon_incomplete svg {
    color: var(--a-gray-200);
}

.tidslinje-hendelse--active {
    background-color: var(--a-deepblue-100);
}

.tidslinje-hendelse--siste_hendelse_på_forsiden:after {
    content: '';
    width: 0px;
    height: 17%;
    position: absolute;
    bottom: 1;
    left: 1rem;
    z-index: 0;
    border: 1px solid var(--a-deepblue-300);
}

.tidslinje-hendelse:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 0;
}

.tidslinje-hendelse--active::before {
    border: 1px solid red;
}

.tidslinje-hendelse--complete:before {
    border: 1px solid blueviolet;
}

.tidslinje-hendelse--incomplete:before {
    border: 1px solid var(--a-gray-200);
}

.tidslinje-hendelse:first-child:before {
    top: 24px;
}

.tidslinje-hendelse--inactive:first-child:before {
    top: 24px;
}

.tidslinje-hendelse:last-child:before {
    height: 27px;
}

.tidslinje-hendelse--inactive:last-child:before {
    height: 27px;
}

.tidslinje-hendelse__mer_informasjon {
    margin-bottom: 1rem;
}

.tidslinje-hendelse__date {
    color: black;
}

.tidslinje-hendelse__tittle {
    font-weight: bold;
}

.tidslinje-hendelse__manglende_vedlegg {
    margin-bottom: 1rem;
    font-size: var(--a-font-size-medium);
}

.tidslinje-hendelse__medium_font span {
    font-size: var(--a-font-size-medium);
}

.tidslinje-hendelse__medium_font {
    font-size: var(--a-font-size-medium);
}

.tidslinje-hendelse__link {
    color: var(--a-deepblue-600);
}
