@import './../../styles/variables.less';

.slettbarAvslåttPeriode {
    
    &__wrapper {
        display: flex;  

        :first-child {
            margin-left: auto;
            margin-right: 3rem;
            color: @redError;
        }
    }

}




   