.fortsettKnapp {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: @button-size;
    color: green;

    @media (max-width: @mobile-breakpoint) {
        width: 100%;
    }
}
