:global(skyra-survey) {
    --skyra-font-size: 20px;
    --skyra-font-body: 'Source Sans Pro', Arial;
    --skyra-font-weight-normal: 800;
    --skyra-font-heading: 'Source Sans Pro', Arial;
}

skyra-survey::part(heading) {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: var(--ax-text-neutral);
}

skyra-survey::part(bodyHtml) {
    font-size: 18px;
    font-weight: 400;
    color: var(--ax-text-neutral);
}

skyra-survey::part(button-primary) {
    padding: 10px 25px;
}

skyra-survey::part(button-chip) {
    padding: 5px 20px;
}
