.datoerInputLayout {
    display: flex;

    &__fraDato {
        padding-right: 1rem;
    }

    &--fullbredde {
        .datoerInputLayout {
            &__fraDato,
            &__tilDato {
                min-width: 40%;
            }
        }
    }
}
