@import '../../../../styles/variables.less';

.radioPanelGruppe {
    position: relative;

    .skjema__fieldset {
        .sirkelknapp {
            position: absolute;
            top: 0;
            right: 0.5rem;
        }
    }

    .radioPanelGruppe--responsive {
        @panelBottomMargin: 0.5rem;
        @panelHorizontalMargin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -1 * @panelBottomMargin;
        margin-left: -1 * @panelHorizontalMargin;
        margin-right: -1 * @panelHorizontalMargin;

        .radioPanel {
            margin: 0 @panelHorizontalMargin @panelBottomMargin @panelHorizontalMargin;
            &__label {
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
        .skjemaelement__feilmelding {
            margin-left: @panelHorizontalMargin;
            margin-right: @panelHorizontalMargin;
        }

        @media screen and (max-width: 576px) {
            display: block;
        }

        @media screen and (min-width: 577px) and (max-width: @tablet-breakpoint) {
            .radioPanelWrapper {
                flex-basis: 50%;
                width: 50%;
            }
        }

        @media screen and (min-width: (1 + @tablet-breakpoint)) {
            .radioPanelWrapper {
                flex-basis: 100% / 3;
                width: 100% / 3;
                &--twoColumns {
                    flex-basis: 50%;
                    width: 50%;
                }
            }
        }
    }
}

.inputPanelGruppe.twoColumnsPanelGruppe {
    .inputPanelGruppe__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .inputPanel {
            margin-bottom: 0.75rem;
            min-width: 48%;
            max-width: 48%;
            flex: 1 0 auto;
        }
    }
}
