.resetUttaksplanModal {
    &__content {
        padding: 1.5rem;
        min-width: 20rem;
        max-width: 30rem;
    }

    &__knappWrapper {
        display: flex;
        flex-direction: column;

        :nth-child(1) {
            margin-bottom: 1rem;
        }
    }
}
