.skjema__heading {
    font-size: 20px;
}

.skjema__headingBox {
    padding-top: 1.5rem;
}

.skjema__arbeidsgiverBoks {
    margin-bottom: 0;
}

.skjema__arbeidsgiverBoksList {
    margin-top: 2rem;
}

.skjema__lastOppKnappList {
    padding-bottom: 0;
}

.skjema__lastOppKnapp {
    padding-bottom: 1rem;
}

.skjema__line {
    margin-top: 2rem;
    margin-bottom: 2rem;

    height: 2px;
    stroke-width: 2px;
    background-color: #99c3ff;
    border: none;
}
