.personMedSnakkeboble {
    text-align: center;
    margin-bottom: 64px;
    padding-top: 1rem;

    &--fyltBakgrunn {
        background-color: #e0dae7;
    }
    &__snakkeboble {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 1rem;
        max-width: 30rem;
        z-index: 2;
        position: relative;
    }

    &__person {
        display: inline-block;
        position: relative;
    }

    &--kompakt {
        .personMedSnakkeboble {
            &__snakkeboble  {
                max-width: 20rem;
                margin-bottom: 0.5rem;
            }
        }
        .snakkeboble:before {
            margin-left: -5rem;
        }
    }

    svg {
        position: relative;
        max-width: 136px;
        margin-bottom: -68px;
    }
}
