.dokument {
    border-bottom: 2px solid var(--a-gray-300);
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.dokument__ikon {
    color: var(--a-surface-action);
    margin-right: 0.5rem;
}

.dokument__link-icon {
    max-width: 32rem;
}

.dokument__content-top {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.dokument__content-bottom {
    display: flex;
    gap: 1rem;
    align-items: center;
}
