.dokument {
    border-bottom: 2px solid var(--a-gray-300);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.dokument__ikon {
    color: var(--a-surface-action);
    margin: 0 0.875rem;
}

.dokument__link-icon {
    max-width: 32rem;
}

.dokument__content {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 8fr 7rem 7.5rem;
    align-items: center;
}
