.morOppstartinformasjon {
    margin-top: 3.2rem;
    margin-left: -13rem;
    background-color: var(--ax-accent-200);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 3.5rem;
}

.bold {
    font-weight: bold;
}

@media (max-width: 768px) {
    .morOppstartinformasjon {
        margin-top: 0rem;
        margin-left: 0rem;
    }
}
