.iconBox__icon {
    max-width: 32px;
    max-height: 32px;
    border-radius: 0.5rem;
}

.iconBox--purple {
    background-color: var(--a-purple-400);
}

.iconBox--blue {
    background-color: #3386e0;
}

.iconBox--lightBlue {
    background-color: #99c4dd;
}

.iconBox--green {
    background-color: #33aa5f;
}

.iconBox--lightGreen {
    background-color: #99dead;
}

.iconBox--blueLightGreen {
    background: repeating-linear-gradient(-45deg, #3386e0, #3386e0 50%, #99dead 50%, #99dead 100%);
}

.iconBox--greenLightBlue {
    background: repeating-linear-gradient(-45deg, #33aa5f, #33aa5f 50%, #99c4dd 50%, #99c4dd 100%);
}
S .iconBox--gray {
    background-color: var(--a-gray-400);
}

@media (max-width: 768px) {
    .iconBox__icon {
        display: none;
    }
}
