.iconBox__icon {
    max-width: 32px;
    max-height: 32px;
    border-radius: 0.5rem;
}
.iconBox--orange {
    background-color: var(--a-data-surface-3);
}

.iconBox--purple {
    background-color: var(--a-data-surface-6);
}

.iconBox--blue {
    background-color: var(--a-data-surface-1);
}

.iconBox--lightBlue {
    background-color: var(--a-data-surface-2-subtle);
}

.iconBox--green {
    background-color: var(--a-data-surface-5);
}

.iconBox--lightGreen {
    background-color: var(--a-data-surface-5-subtle);
}

.iconBox--blueLightGreen {
    background: repeating-linear-gradient(
        -45deg,
        var(--a-data-surface-1),
        var(--a-data-surface-1) 50%,
        var(--a-data-surface-5-subtle) 50%,
        var(--a-data-surface-5-subtle) 100%
    );
}

.iconBox--greenLightBlue {
    background: repeating-linear-gradient(
        -45deg,
        var(--a-data-surface-5),
        var(--a-data-surface-5) 50%,
        var(--a-data-surface-2-subtle) 50%,
        var(--a-data-surface-2-subtle) 100%
    );
}
.iconBox--gray {
    background-color: var(--a-gray-400);
}

@media (max-width: 768px) {
    .iconBox__icon {
        display: none;
    }
}
