.iconBox__icon {
    max-width: 32px;
    max-height: 32px;
    border-radius: 0.5rem;
}


.iconBox--purple{
    background-color: var(--a-purple-400);
}

.iconBox--blue {
    background-color: var(--a-blue-400);
}

.iconBox--green {
    background-color: var(--a-green-400);
}

.iconBox--purpleBlue {
    background-color: var(--a-blue-400);
    background: repeating-linear-gradient(
        -45deg,
        var(--a-blue-400),
        var(--a-blue-400) 50%,
        var(--a-purple-400)50%,
        var(--a-purple-400) 100%
    );
}

.iconBox--gray {
    background-color: var(--a-gray-400);
}

