@import '../../styles/variabler.less';

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: @app-max-width;

    h1,
    p {
        text-align: center;
    }
}
