html {
    color: #dfe1e5;
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    padding-top: 20px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

code,
p {
    font-size: 1rem;
}

body {
    background-color: #0e151f;
    padding-inline: 16px;
}

section {
    padding-block: 16px;
}

.grid-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.package {
    background-color: #1c232f;
    border-radius: 8px;
    color: #aaa;
    padding: 16px;
    text-decoration: none;
    width: stretch;
}

.package:hover {
    background-color: #242b37;
}
