@import '../../styles/variabler.less';

@z-sirkel: 4;
@sirkelSize: 12px;
@sirkelBorderWidth: 2px;
@sirkelCenterOffset: @sirkelSize / 2 - @sirkelBorderWidth / 2;
@timeline-border-left-width: 6px;
@timeline-border-radius: 0.25rem;
@timeline-gray: #b7b1a9;
@timeline-yellow: #ff9100;
@timeline-red: #ba3a26;

.timelineSirkel(@borderColor, @bkgColor: white) {
    content: '';
    z-index: @z-sirkel;
    position: absolute;
    width: @sirkelSize;
    height: @sirkelSize;
    border-radius: 50%;
    border: @sirkelBorderWidth solid @borderColor;
    background-color: @bkgColor;
}

.interactiveItemStyling() {
    &:focus,
    &:active {
        .buttonFocus();
    }
}

.timelineMoreLink() {
    position: absolute;
    top: 0;
    left: -1 * @timeline-border-left-width;
    right: 0;
    bottom: 0;
    background: transparent;
    border-radius: @timeline-border-radius;
    .interactiveItemStyling();
    &:focus,
    &:active {
        background: transparent;
    }
}
.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    &__itemWrapper {
        position: relative;
        padding-bottom: 1rem;
        border-left: 2px solid @timeline-gray;
        padding-left: 1rem;
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.timelineItemMoreLink {
    .timelineMoreLink();
}

.timelineEventItem {
    border-radius: @timeline-border-radius;
    position: relative;
    padding: 1rem 1rem 1rem calc(4rem - @timeline-border-left-width);
    background-color: white;
    border: none;
    border-left-width: @timeline-border-left-width;
    border-left-style: solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

    &:after  {
        .timelineSirkel(#78706a, #f1f1f1);
        top: 1.25rem;
        left: calc(-1rem - @timeline-border-left-width - @sirkelCenterOffset);
    }

    &--interactive {
        .interactiveItemStyling();
        &:hover {
            background-color: #fbfbfb;
        }
    }

    &__headerAndTitle {
        display: flex;
        // flex-flow: column-reverse;
        width: 100%;
        // flex-wrap: wrap;
        margin: 0;
        padding: 0;
        > * {
            width: 100%;
        }
    }

    &__header {
        color: #78706a;
        font-size: 0.875rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: stretch;
        margin-bottom: 0.25rem;
        &__personName {
            flex-basis: 80%;
            font-size: 1rem;
            font-size: inherit;
            color: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__duration {
            flex-basis: 20%;
            flex-grow: 2;
            font-size: inherit;
            color: inherit;
            white-space: nowrap;
            text-align: right;
        }
    }
    &__title {
        font-size: 1rem;
        margin: 0 0 0.25rem 0;
    }
    &__labels {
        margin: 0.5rem 0;
    }
    &--blue {
        border-left-color: @c-purple;
    }
    &--purple {
        border-left-color: @c-blue;
    }
    &--green {
        border-left-color: @c-green;
    }

    &__timespan {
        position: relative;
        opacity: 0.75;
        &__error {
            position: absolute;
            left: -2.6rem;
            top: -0.3rem;
        }
    }
    .timelineIcons {
        position: absolute;
        left: 1rem;
        top: 1.25rem;
    }
    &__formContainer {
        margin-top: 1rem;
        margin-left: calc(-4rem + @timeline-border-left-width);
        margin-right: -1rem;
        border-top: 2px solid #e2e0dd;
        margin-bottom: -1rem;
        z-index: 2;
        position: relative;
    }
}

.timelineMarkerItem {
    @vPad: 0;
    padding: @vPad 1rem @vPad 4rem;
    position: relative;
    line-height: 1.5rem;

    &:after  {
        .timelineSirkel(#78706a, #f1f1f1);
        top: 0.1rem;
        left: calc(-1rem - @sirkelCenterOffset);
    }

    &__title {
        display: inline-block;
        font-size: 1rem;
        margin: 0;
        padding-right: 0.5rem;
    }
    &__comment {
        display: inline-block;
        color: #78706a;
        padding-right: 0.5rem;
    }
    &__date {
        display: inline-block;
        color: #78706a;
    }
    .timelineIcons {
        position: absolute;
        left: calc(1rem + @timeline-border-left-width);
        top: @vPad;
    }
}

.timelineGapItem {
    @vPad: 1rem;
    border: 2px solid @timeline-yellow;
    border-radius: 4px;
    padding: @vPad 1rem @vPad 4rem;
    position: relative;
    line-height: 1.5rem;

    &:after  {
        content: '';
        position: absolute;
        width: 10px;
        height: calc(1rem + 4px);
        border-top: 2px solid @timeline-gray;
        border-bottom: 2px solid @timeline-gray;
        background-color: #f1f1f1;
        top: 1rem;
        left: calc(-1rem - 8px);
    }

    &__titleAndDuration {
        display: flex;
        flex-wrap: nowrap;
        justify-content: stretch;
    }
    &__title {
        font-size: 1rem;
        margin: 0.3rem 0;
        flex-grow: 2;
    }
    &__duration {
        padding-top: 0.25rem;
        // position: absolute;
        // right: 0.85rem;
        // top: 0.1rem;
    }
    .timelineIcons {
        position: absolute;
        left: calc(1rem + @timeline-border-left-width);
        top: @vPad;
    }
    .timelineItemMoreLink {
        left: 0;
        cursor: default;
    }
}

.timelineIcons {
    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 0.5rem;
        &:first-child {
            margin-top: 0;
        }
    }
}
