@import '../../../../node_modules/nav-frontend-core/less/_variabler';

.backButton {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    color: inherit;
    border: none;
    padding-left: 0;
    &__chevron {
        align-self: center;
    }
    &:hover,
    &:active {
        background: transparent;
        color: @navBla;
    }
}
