.dokumentHendelseMedium {
    display: flex;
    align-items: center;
    font-size: var(--ax-font-size-medium);
}

.dokumentHendelseLarge {
    display: flex;
    align-items: center;
    font-size: var(--ax-font-size-large);
}

.ikon {
    color: var(--ax-bg-accent-strong);
    min-width: 24px;
}
