.dokument-hendelse {
    display: flex;
    align-items: center;
}

.dokument-hendelse--medium {
    font-size: var(--a-font-size-medium);
}

.dokument-hendelse--large {
    font-size: var(--a-font-size-large);
}

.dokument-hendelse__ikon {
    color: var(--a-surface-action);
    min-width: 24px;
}
