.manglendeVedlegg {
    margin-bottom: 1rem;
    font-size: var(--a-font-size-medium);
}

.merInformasjon {
    margin-bottom: 1rem;
}

.mediumFont {
    font-size: var(--a-font-size-medium);
}

.mediumFont span {
    font-size: var(--a-font-size-medium);
}

.link {
    color: var(--a-deepblue-600);
}
