.manglendeVedlegg {
    margin-bottom: 1rem;
    font-size: var(--ax-font-size-medium);
}

.merInformasjon {
    margin-bottom: 1rem;
}

.mediumFont {
    font-size: var(--ax-font-size-medium);
}

.mediumFont span {
    font-size: var(--ax-font-size-medium);
}

.link {
    color: var(--ax-brand-blue-700);
}
