.tidslinjeHendelse {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
    position: relative;
    margin: 0 -1rem;
}

.tidslinjeHendelse:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 0;
}

.tidslinjeHendelse:first-child:before {
    top: 24px;
}

.tidslinjeHendelse:last-child:before {
    height: 27px;
}

.ikon svg {
    size: 120%;
    position: relative;
    z-index: 2;
    background-color: var(--ax-bg-default);
    padding: 0px;
    margin-left: 7px;
}

.ikonActive svg {
    color: var(--ax-brand-blue-400);
    background-color: var(--ax-brand-blue-200);
}

.ikonCompleted svg {
    color: var(--ax-brand-blue-400);
    background-color: transparent;
}

.ikonIncomplete svg {
    color: var(--ax-neutral-300);
}

.tekst {
    padding-left: 0.5rem;
}

.title {
    font-weight: bold;
}

.date {
    color: black;
}

.active {
    background-color: var(--ax-brand-blue-200);
}

.active::before {
    border: 1px solid var(--ax-brand-blue-400);
}

.complete:before {
    border: 1px solid var(--ax-brand-blue-400);
}

.incomplete:before {
    border: 1px solid var(--ax-neutral-300);
}

.aktivErIkkeFørsteHendelse {
    padding-top: 2rem;
}

.sisteHendelsePåForsiden:after {
    content: '';
    width: 0px;
    height: 89%;
    position: absolute;
    bottom: 1;
    left: 1rem;
    z-index: 0;
    border: 1px solid var(--ax-brand-blue-400);
}
