.fellesperiodeValgVisning__textTop {
    justify-content: center;
}

.fellesperiodeValgVisning__textBottom {
    justify-content: center;
    display: 'flex';
    flex-direction: 'row';
    padding-top: '0.5rem';
}

.fellesperiodeValgVisning__textElement {
    display: flex;
    justify-content: center;
}
