@import './../../../../styles/variables.less';

.utenlandsoppholdOppsummeringListe {
    list-style: none;
    padding: 0;
    margin: 0;

    &__listElement {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    @media (max-width: @mobile-breakpoint) {
        &__listElement {
            padding: 0.5rem;
        }
    }
}
