.tidsperiodeBolk {
    display: flex;
    flex-wrap: wrap;
    &__fra {
        margin-right: 1rem;
        padding-bottom: 0.5rem;
    }
    &__til {
        margin-right: 1rem;
        padding-bottom: 0.5rem;
    }
    &__varighet {
        width: 100%;
        color: #7f756c;
    }
    .skjemaelement__label {
        font-weight: bold;
    }
}
