.delvisTilretteleggingVisning {
    border-radius: 2px;
    background: var(--global-deepblue-50, #e6f1f8);
    display: grid;
    grid-template-columns: 1fr 8% 8%;
    grid-template-rows: 1fr 1fr 1fr;
    width: var(--app-max-width);
    padding: 16px;
    gap: 0px;
}

.delvisTilretteleggingVisning__tittel {
    grid-column: 1;
    grid-row: 1;
}

.delvisTilretteleggingVisning__dato {
    grid-column: 1;
    grid-row: 3;
    align-self: flex-end;
}

.delvisTilretteleggingVisning__rediger {
    grid-column: 3;
    grid-row: 3;
    width: 2rem;
    height: 2rem;
    align-self: last baseline;
}

.delvisTilretteleggingVisning__slett {
    grid-column: 2;
    grid-row: 3;
    width: 2rem;
    height: 2rem;
    align-self: last baseline;
}
