.bedriftsbanner {
    border-radius: 2px;
    border: 2px solid var(--surface-alt-3-moderate, #99c4dd);
    background: var(--global-deepblue-50, #e6f1f8);
    padding: 1rem;
}

.ikon {
    color: var(--surface-alt-3-moderate, #99c4dd);
}

.bold {
    font-weight: bold;
}
