.bedriftsbanner {
    border-radius: 2px;
    border: 2px solid var(--ax-accent-400);
    background: var(--ax-accent-200);
    padding: 1rem;
}

.ikon {
    color: var(--ax-accent-600);
}

.bold {
    font-weight: bold;
}
