@import '../../styles/variabler.less';

.søknadstittel {
    background-color: @foreldrepenger-lilla;
    padding: 1rem 1.25rem;
    text-align: center;
    border-bottom: 4px solid @foreldrepenger-lilla-dark;
}
