.header {
    background-color: var(--a-bg-default);
    border-bottom: 4px solid var(--a-deepblue-200);
    padding: 1rem;
    margin-bottom: 2rem;
}

.header__wrapper {
    max-width: 704px;
    margin: 0 auto;
}

.header__tag {
    height: fit-content;
}
