@import '../../styles/variables.less';

.intro-snakkelenke {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.capitalizeName {
    text-transform: capitalize;
}

.responsiveContainer {
    max-width: 704px;
    margin: 0 auto;
    padding: 2rem;
    @media (max-width: @tablet-breakpoint) {
        max-width: 100%;
    }
    @media (max-width: @mobile-breakpoint) {
        padding: 1rem;
    }
}
