.oppstart-dato-mor-fødsel__div {
    margin-top: 3.2rem;
    margin-left: -5rem;
    background-color: var(--Surface-Selected, #e6f0ff);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}

.oppstart-dato-mor-fødsel--bold {
    font-weight: bold;
}
