@import './../../styles/variables.css';

.umyndig {
    max-width: var(--app-max-width);
    margin:  var(--app-margin);
    padding:  var(--app-padding);
}

.umyndig__tittel {
        padding-top: 32px;
        padding-bottom: 32px;
    }

@media (max-width: 768px) {
    .umyndig {
        max-width: 100%;
        padding: 1rem;
    
    }
    .umyndig____tittel {
        padding-top: 20px;
            padding-bottom: 20px;
    }
}