.gridColumnsWide {
    grid-template-columns: repeat(3, 1fr);
}

.gridColumnsSmall {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 320px) {
    .gridColumnsWide {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .gridColumnsSmall {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 300px) {
    .gridColumnsSmall {
        grid-template-columns: repeat(1, 1fr);
    }
}
