.box {
    padding-top: 20px;
    width: 170px;
}

@media (max-width: 592px) {
    .box {
        padding-top: 2px;
        width: 130px;
    }
}

@media (max-width: 560px) {
    .box {
        padding-top: 2px;
        width: 120px;
    }
}
