.mediumCircle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.largeCircle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
}

.xlCircle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.green {
    background: var(--a-limegreen-200);
}
.mediumGreen {
    background: var(--a-limegreen-300);
}

.darkGreen {
    background: var(--a-limegreen-400);
}

.gray {
    background: var(--a-gray-300);
}

.blue {
    background: var(--a-deepblue-200);
}
.lightBlue {
    background: var(--a-deepblue-100);
}
.darkBlue {
    background: var(--a-deepblue-200);
}
