@import './../../styles/variables.css';

.periodeVisningInfoBox {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--a-deepblue-50);
    border-radius: 0.25rem;
}

.periodeVisningInfoBox__periodeVisningList {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 1rem;
    }

    li:last-child {
        margin-bottom: 0;
    }
}

.periodeVisningInfoBox__topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.periodeVisningInfoBox__arbeidsgiverNavn {
    width: 40%;
    text-align: right;
}

.periodeVisningInfoBox__stillingsprosent {
    margin-left: auto;
}

@media (max-width: 768px) {
    .periodeVisningInfoBox__topRow {
        display: block;
    }
    .periodeVisningInfoBox__arbeidsgiverNavn {
        padding: 0.5rem 0;
        width: 100%;
        text-align: left;
    }
}
