@import '../../../common/styles/variables.less';

.block {
    /** Motvirke at outline på elementer blir klippet på grunn av overflow:hidden */
    @outlineSize: 8px;
    &__collapse {
        padding-left: @outlineSize;
        padding-right: @outlineSize;
        margin-left: -1 * @outlineSize;
        margin-right: -1 * @outlineSize;
    }

    /** Variasjoner på luft under. --m er default */
    &--xl {
        padding-bottom: 5rem;
    }
    &--l {
        padding-bottom: 2.5rem;
    }
    &--m {
        padding-bottom: 2rem;
    }
    &--s {
        padding-bottom: 1.5rem;
    }
    &--xs {
        padding-bottom: 1rem;
    }
    &--xxs {
        padding-bottom: 0.5rem;
    }
    &--none {
        // Hack på grunn av bug i ReactCollapse - den viser ikke noe dersom padding er 0
        padding-bottom: 1px;
        margin-bottom: -1px;
    }
    .heading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 0.5rem;

        .sirkelknapp  {
            margin-left: 1rem;
        }
    }
    @media (max-width: @tablet-breakpoint) {
        &--sm {
            &--m {
                margin-bottom: 2rem;
            }
            &--s {
                margin-bottom: 1.5rem;
            }
            &--xs {
                margin-bottom: 1rem;
            }
        }
    }
}
