@import '../../styles/variables.less';

.periodeikon {
    width: 2rem;
    height: 2rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    > svg {
        width: 1rem;
        height: 1rem;
    }
    > svg * {
        fill: white;
    }
}
