.kontonummer-info {
    padding-top: 1rem;
}

.kontonummer-info__accordeonHeader {
    padding: 0.25rem;
}

.kontonummer-info__tittelTekst {
    color: var(--text-default, #262626);
}

.kontonummer-info__kontonummer {
    color: var(--text-default, #262626);
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.02px;
}
