.kvitteringHeader {
    text-align: center;

    &__spotlightLetter {
        margin-top: 2rem;
    }

    &__sendtInnTid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__vedleggWrapper {
        display: flex;
        justify-content: center;
    }

    &__vedleggLink {
        padding-left: 0.5rem;
    }

    &__vedleggIkon {
        color: #000;
    }
}
