@mobile-breakpoint: 576px;
@tablet-breakpoint: 768px;
@c-buttonBlue: #0067c5;
@paddingSmall: 0.5rem;
@orangeFocus: #ffbd66;
@navRodLighten20: mix(#c30000, #fff, 80%);
@navGra40: var(--navds-semantic-color-component-background-alternate);
