.mor-oppstartinformasjon {
    margin-top: 3.2rem;
    margin-left: -13rem;
    background-color: var(--Surface-Selected, #e6f0ff);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 3.5rem;
}

.mor-oppstartinformasjon--bold {
    font-weight: bold;
}

@media (max-width: 768px) {
    .mor-oppstartinformasjon {
        margin-top: 0rem;
        margin-left: 0rem;
    }
}
