@mobile-breakpoint: 576px;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
// ** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet: @screen-sm-min;
@tablet-breakpoint: @screen-tablet;
@c-buttonBlue: #0067c5;
@button-size: 46px;
