.banner {
    padding-top: 1rem;
    max-width: 704px;
    margin: 0 auto;

    &--small {
        min-height: 3rem;

        @media screen and (max-width: 576px) {
            min-height: 3rem;
            padding-left: 1rem;
        }
    }

    &--large {
        height: 12rem;
    }

    &--xlarge {
        height: 16rem;
    }
}
