@import './../../../../styles/variables.css';

.bostedUtlandSubform {
    background-color: var(--a-deepblue-50);
    margin-bottom: 1rem;
    padding: 1rem;
    width: var(--app-max-width)
}

.bostedUtlandSubform__tittel {
    padding-bottom: 1rem;
}


.bostedUtlandSubform__avbryt{
    margin-left:1rem;
}
