.vedlegg-oppsummering__tilrettelegging {
    padding-bottom: 2rem;
}

.vedlegg-oppsummering__tittel {
    font-weight: bold;
}

.vedlegg-oppsummering__link {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
