.numberStepper {
    display: flex;
    align-items: center;

    &__input {
        width: 20%;
        > input {
            background-color: var(--navds-textarea-color-background);
            border-radius: var(--navds-border-radius-medium);
            width: 100%;
            display: block;
            padding: 0.5rem;
        }

        > input:hover {
            border-color: var(--navds-textarea-color-border-hover);
        }

        > input:focus {    
            box-shadow: var(--navds-shadow-focus);
        }
    }

    &__decrease {
        margin-right: 1rem;
    }

    &__increase {
        margin-left: 1rem;
    }
}