@import './../../../common/styles/variables.less';

.knapperad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .knapperad__knapp + .knapperad__knapp {
        padding-left: 1rem;
    }
    &--left {
        justify-content: left;
    }
    &--mobile-50-50 {
        @media (max-width: @mobile-breakpoint) {
            .knapperad__knapp + .knapperad__knapp {
                padding: 0;
            }
            .knapperad__knapp {
                padding: 0;
                width: 50%;
                &:first-child {
                    padding-right: 0.25rem;
                }
                &:last-child {
                    padding-left: 0.25rem;
                }
                > .knapp {
                    height: 100%;
                    white-space: normal;
                    width: 100%;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }
    }
}
