.frilansSubform {
    background-color: var(--a-deepblue-50);
    margin-bottom: 1rem;
    padding: 1rem 
}

.frilansSubform__avbryt {
    margin-left: 1rem; 
}

.frilansSubform__leggtil {
    background-color: blue;
}

.frilansSubform__leggtil > :first-child {
    background-color: white;  
}

.frilansSubform__feilmelding {
    padding-top: 0.5rem;
}
