.frilansForm {
    background-color: var(--a-deepblue-50);
    margin-bottom: 1rem;
    padding: 1rem 
}

.frilansForm__avbryt {
    margin-left: 1rem; 
}

.frilansForm__leggtil {
    background-color: blue;

}

.frilansForm__leggtil > :first-child {
    background-color: white;  
}