.fileDropInput {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    background-color: white;
    width: 100%;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    border-style: dashed;
    border-width: 2px;
    border-radius: 8px;
    border-color: #c6c2bf;
    &--withError {
        border: 2px dashed #ba3a26 !important;
    }
    &--focused {
        border-color: transparent;
        box-shadow: 0 0 0 3px;
    }
    &--dragAccept {
        border-color: #06893a;
    }
    &--dragReject {
        border-color: #ba3a26;
    }
    &:hover {
        border-color: #0067c5;
    }
    &__icon {
        line-height: 1rem;
        display: inline-block;
        margin-right: 0.5rem;
    }
}
