.greenStripedCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: repeating-linear-gradient(
        45deg,
        var(--a-data-surface-5) 0%,
        var(--a-data-surface-5) 30%,
        var(--a-green-200) 30%,
        var(--a-green-200) 60%
    );
    border-color: var(--a-data-surface-5);
    margin-bottom: 50%;
}

.blueStripedCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: repeating-linear-gradient(
        45deg,
        var(--a-blue-300) 0%,
        var(--a-blue-300) 20%,
        var(--a-gray-200) 20%,
        var(--a-gray-200) 40%,
        var(--a-blue-300) 40%
    );
    border-color: var(--a-data-surface-5);
    margin-bottom: 50%;
}

.lightblueGreenCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(
        to top,
        var(--a-data-surface-5),
        var(--a-data-surface-5) 50%,
        var(--a-data-surface-2-subtle) 50%,
        var(--a-data-surface-2-subtle) 100%
    ) !important;
    border: 2px solid var(--a-data-surface-5);
    margin-bottom: 50%;
}

.lightgreenBlueCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(
        to top,
        var(--a-data-surface-1),
        var(--a-data-surface-1) 50%,
        var(--a-data-surface-5-subtle) 50%,
        var(--a-data-surface-5-subtle) 100%Willesden Green,
        London,
        UKgree
    ) !important;
    border: 2px solid var(--a-data-surface-1);
    margin-bottom: 50%;
}

.blueOutlineCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--a-data-surface-1);
    margin-bottom: 50%;
}

.greenOutlineCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--a-data-surface-5);
    margin-bottom: 50%;
}

.blackCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 50%;
}
