name: Bygg og deploy svp rework
on:
    push:
        branches:
            - 'ny-svp'

jobs:
  build-app:
    name: Build
    permissions:
      packages: write
      id-token: write
    uses: navikt/fp-gha-workflows/.github/workflows/build-app-frontend-monorepo.yml@main
    with:
      build-image: ${{ github.ref_name == 'ny-svp' }}
      push-image: ${{ github.ref_name == 'ny-svp' }}
      image_suffix: 'svangerskapspengesoknad'
    secrets: inherit

  deploy-dev:
    name: Deploy dev
    permissions:
      id-token: write
    if: github.ref_name == 'ny-svp'
    needs: build-app
    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
    with:
      gar: true
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: dev-gcp
      image_suffix: '/svangerskapspengesoknad'
      deploy_context: '/svangerskapspengesoknad-rework'
    secrets: inherit
