name: Bygg server
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths:
      - 'server'
      - '.github/workflows/build-server.yml'
  schedule:
    - cron: '45 23 28 * *' # "At 11:45 PM, on day 28 of the month"

env:
  NAME: server

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # ratchet:actions/checkout@v4

      - name: Generate build version
        id: generate-build-version
        run: |
          echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Print build version
        run: echo "Generated build-version is ${{ steps.generate-build-version.outputs.build-version }}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # ratchet:docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # ratchet:docker/setup-buildx-action@v2

      - name: NAIS login
        uses: nais/login@104bca34b70d1d00fe837bcd0689633978eca744 # ratchet:nais/login@v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: teamforeldrepenger

      - name: Docker meta
        uses: docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175 # ratchet:docker/metadata-action@v4
        id: meta
        with:
          images: |
            ${{ steps.login.outputs.registry }}/${{ github.repository }}/${{env.NAME}}
          tags: |
            type=raw,value=${{ steps.generate-build-version.outputs.build-version }}
          flavor: |
            latest=true

      - name: Build and push
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # ratchet:docker/build-push-action@v4
        id: build_push
        with:
          context: server
          platforms: linux/amd64,linux/arm64
          pull: true
          push: ${{ github.ref_name == 'master' }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Check for errors
        if: ${{ failure() && steps.build_push.outcome == 'failure' }}
        shell: bash
        run: |
          echo "::error ::Failed during image build. Is your docker_context set to where your build files are?"
          exit 1
      - name: Generate SBOM, attest and sign image
        if: ${{ github.ref_name == 'master' }}
        id: attest-sign
        uses: nais/attest-sign@v1.1.0
        with:
          image_ref: ${{ steps.login.outputs.registry }}/${{ github.repository }}/${{env.NAME}}@${{ steps.build_push.outputs.digest }}
          sbom: 'auto-generate-for-me-please.json'

      - name: Set outputs
        shell: bash
        id: set-outputs
        run: |
          echo "NEW_VERSION=${{ steps.meta.outputs.version }}" >> $GITHUB_STEP_SUMMARY
          echo "IMAGE=${{ fromJSON(steps.meta.outputs.json).tags[0] }}" >> $GITHUB_STEP_SUMMARY
          echo "DIGEST=${{ steps.build_push.outputs.digest }}" >> $GITHUB_STEP_SUMMARY
          echo "SALSA=${{ steps.attest-sign.outputs.sbom }}" >> $GITHUB_STEP_SUMMARY
