name: Bygg og deploy planlegger redirect
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths:
      - 'server_for_redirect/**'
      - '.github/workflows/build-redirect.yml'
      - '.deploy/planlegger_redirect.yaml'

jobs:
  build:
    name: Build
    permissions:
      packages: write
      id-token: write
    uses: navikt/fp-gha-workflows/.github/workflows/build-docker.yml@main
    with:
      push-image: ${{ github.ref_name == 'master' }}
      docker_context: './server_for_redirect'
      dockerfile: './server_for_redirect/Dockerfile'
      app_name: '/fp-planlegger-redirect'
    secrets: inherit

  promote-prod:
    name: Deploy
    needs: build
    permissions:
      id-token: write
    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
    with:
      gar: true
      image: ${{ needs.build.outputs.build-version }}
      cluster: 'prod-gcp'
      app: '/fp-planlegger-redirect'
      naiserator_file: 'planlegger_redirect.yaml'
    secrets: inherit
