name: 'Deploy storybook'

on:
  push:
    branches: ['master']
    paths-ignore:
      - '.github/workflows/build-redirect.yml'
      - 'server/**'
      - 'server-uinnlogget/**'
      - '.github/workflows/build-server.yml'

jobs:
  deploy-storybook:
    permissions:
      contents: write
      pages: write
    uses: navikt/fp-gha-workflows/.github/workflows/deploy-storybook.yml@eecbab354ff8d2994f28fb838305450a0cb104b8
    with:
      package-manager: pnpm
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
