name: Deploy manuelt
on:
  workflow_dispatch:
    inputs:
      image:
        required: true
        type: string
        description: 'Image tag to deploy (example 2023.03.10.080433-f821119)'
      environment:
        required: true
        type: choice
        description: 'The environment to deployed to (dev|prod)'
        options:
          - dev
          - prod
      app:
        required: true
        type: choice
        description: 'Application to deploy ()'
        options:
          - foreldrepengesoknad
          - foreldrepengeoversikt
          - engangsstonad
          - svangerskapspengesoknad
          - foreldrepengeplanlegger

jobs:
  deploy:
    name: Deploy
    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
    with:
      gar: true
      image: ${{ inputs.image }}
      cluster: ${{ inputs.environment }}-gcp
      app: /${{ inputs.app }}
    secrets: inherit
