name: 'Deploy storybook'

on:
  push:
    branches: ['master']
    paths-ignore:
      - 'server/**'
      - 'server-uinnlogget/**'
  workflow_dispatch:

jobs:
  deploy-storybook:
    permissions:
      contents: write
      pages: write
      id-token: write
    uses: navikt/fp-gha-workflows/.github/workflows/deploy-storybook.yml@main
    with:
      package-manager: pnpm
      cache: turbo
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
