.multibar {
    @borderRadius: 0.25rem;
    @borderWidth: 1px;
    @height: 2.5rem;

    height: @height;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    &__background {
        background-color: transparent;
        border-radius: @borderRadius;
        border: @borderWidth dashed transparent;
        height: @height;
        width: 100%;
        z-index: 1;
    }

    &__bar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        height: @height;
        border-radius: @borderRadius;

        &--left {
            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &--right {
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            right: 0;
            left: auto;
        }

        &--center {
            z-index: 3;
            top: -2px;
            height: calc(100% + 4px);
        }
    }
}
