.sak-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__text {
        padding: 1rem;
        display: flex;
        flex-flow: column;
        align-content: space-between;
    }

    &__icon {
    }
}
